.contactme-header {
  color: #eeedec;
  font-size: 24px;
  font-weight: 400;
  height: 54px;
  line-height: 0.5;
  text-shadow: 0 1px #666565;
}
.form-container {
  padding: 32px 123px;
}
.form-group {
  float: left;
  margin-left: 19px;
  margin-bottom: 13px;
}
.form-group:first-child {
  margin-left: 0;
}
.form-label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
.form-input {
  background-color: #fbfcfd;
  background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
  border: solid 1px #d6d5d3;
  -webkit-border-radius: 2px/4px;
  -moz-border-radius: 2px/4px;
  border-radius: 2px/4px;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  height: 41px;
  padding: 0 6px;
  width: 192px;
}
.form-textarea {
  background-color: #fbfcfd;
  background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
  border: solid 1px #d6d5d3;
  -webkit-border-radius: 2px/4px;
  -moz-border-radius: 2px/4px;
  border-radius: 2px/4px;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  height: 180px;
  margin-bottom: 13px;
  padding: 8px;
  resize: none;
  width: 100%;
}
.captcha-section {
  margin-bottom: 22px;
}
.captcha {
  background-image: url(../images/captcha.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 85px;
  width: 197px;
}
.captcha-input {
  background-color: #fbfcfd;
  background-image: -webkit-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -moz-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -o-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: -ms-linear-gradient(bottom, rgba(233,231,231,.45), rgba(251,249,249,0));
  background-image: linear-gradient(to top, rgba(233,231,231,.45), rgba(251,249,249,0));
  border: solid 1px #d6d5d3;
  -webkit-border-radius: 2px/4px;
  -moz-border-radius: 2px/4px;
  border-radius: 2px/4px;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  box-shadow: 0 0 1px rgba(255,255,255,.15), 0 1px rgba(255,255,255,.35), inset 0 2px 2px rgba(114,112,112,.1);
  height: 30px;
  margin-left: 13px;
  padding: 0 6px;
  vertical-align: 265%;
  width: 190px;
}
.button-group {
  text-align: center;
}
.form-send {
  background-color: #fbf9f9;
  background-image: -webkit-linear-gradient(bottom, #43b796, #80e8cb);
  background-image: -moz-linear-gradient(bottom, #43b796, #80e8cb);
  background-image: -o-linear-gradient(bottom, #43b796, #80e8cb);
  background-image: -ms-linear-gradient(bottom, #43b796, #80e8cb);
  background-image: linear-gradient(to top, #43b796, #80e8cb);
  border: solid 1px #c3c2c2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,.3);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,.3);
  box-shadow: inset 0 1px rgba(255,255,255,.3);
  color: #1e7465;
  font-size: 14px;
  font-weight: 700;
  height: 37px;
  text-shadow: 0 1px rgba(255,255,255,.40);
  width: 121px;
}
.form-send:hover {
  background-image: -webkit-linear-gradient(bottom, #3aa087, #5fdcbd);
  background-image: -moz-linear-gradient(bottom, #3aa087, #5fdcbd);
  background-image: -o-linear-gradient(bottom, #3aa087, #5fdcbd);
  background-image: -ms-linear-gradient(bottom, #3aa087, #5fdcbd);
  background-image: linear-gradient(to top, #3aa087, #5fdcbd);
}
.form-clear {
  background-color: #fbf9f9;
  background-image: -webkit-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
  background-image: -moz-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
  background-image: -o-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
  background-image: -ms-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
  background-image: linear-gradient(to top, #e9e6e4, #fbf9f9 94%, #fff);
  border: solid 1px #c3c2c2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,.3);
  -moz-box-shadow: inset 0 1px rgba(255,255,255,.3);
  box-shadow: inset 0 1px rgba(255,255,255,.3);
  font-size: 14px;
  font-weight: 700;
  height: 37px;
  margin-left: 96px;
  text-shadow: 0 1px rgba(255,255,255,.40);
  width: 121px;
}
.form-clear:hover {
  background-image: -webkit-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: -moz-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: -o-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: -ms-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
}