.portfolio-section {
  min-height: 837px;
}
.works-row {
  list-style: none;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}
.portfolio-work {
  background-color: #fff;
  border: solid 1px #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07);
  -moz-box-shadow: 0 2px 1px rgba(9,9,9,.07);
  box-shadow: 0 2px 1px rgba(9,9,9,.07);
  display: inline-block;
  margin: 0;
  margin-bottom: 45px;
  margin-left: 34px;
  vertical-align: top;
  width: 164px;
}
.first-in-row {
  margin-left: 0;
}
.more-details:link,
.more-details:visited {
  background-color: #6f6d6d;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #727070;
  display: block;
  position: relative;
  overflow: hidden;
}
.more-details-link {
  background-color: rgba(0,0,0,0.5);
  color: #FFFFFF;
  position: absolute;
  bottom: 46px;
  right: -2000px;
  width: 100px;
  text-align:center;  
  font: 12px 'open_sanssemibold';
  padding: 5px;   
  transition: 0.5s Ease;
  z-index: 30;
}
.more-details:hover > .more-details-link {
  right: 30px;
}
.site-pic {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  height: auto;
  width: 100%;
}
.site-pic:hover {
  opacity: 0.5;
  transition: 0.3s Ease;
}
.site-details {
  border-top: 1px solid #bfbfbf;
  margin-top: -4px;
  position: relative;
}
.site-name {
  background-color: #f2f2f2;
  color: #727070;
  display: block;
  font: 13px 'open_sansbold';
  padding: 9px;
  text-align: center;
  text-decoration: none;
}
.site-description {
  text-align: center;
  margin: 4px 0;
  padding: 0 7px;
}
.add-project {
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
  background-image: -moz-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
  background-image: -o-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
  background-image: -ms-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
  background-image: linear-gradient(to top, #edebea, #fbf9f9 94%, #fff);
  border: solid 1px #b6b6b6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
  -moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
  box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
  display: inline-block;
  margin-left: 34px;
  height: 134px;
  vertical-align: top;
  width: 164px;
}
.add-btn {
  color: #727070;
  display: block;
  font: 14px 'open_sanssemibold';
  height: 100%;
  padding-top: 90px;
  position: relative;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.add-btn:before {
  background-color: transparent;
  background-image: url(../images/spritesheet.png);
  background-position: -31px -765px;
  background-repeat: no-repeat;
  -webkit-border-radius: 26px 27px 27px 26px/27px;
  -moz-border-radius: 26px 27px 27px 26px/27px;
  border-radius: 26px 27px 27px 26px/27px;
  -webkit-box-shadow: 1px 1px #fff, inset 1px 1px rgba(198,198,198,.75);
  -moz-box-shadow: 1px 1px #fff, inset 1px 1px rgba(198,198,198,.75);
  box-shadow: 1px 1px #fff, inset 1px 1px rgba(198,198,198,.75);
  content: " ";
  display: block;
  height: 55px;
  position: absolute;
  top: 50%;
  transform: 
      translateY(-75%)
      translateX(100%);
  width: 54px;
}
.add-project:hover {
  background-image: -webkit-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: -moz-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: -o-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: -ms-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
  background-image: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
}